@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Layout = "_Layout2";
}

<hr />
<form method="post" asp-controller="Posts" asp-action="AddPost">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">@localizer["Title"]</label>
        <input name="Title" type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">@localizer["Text"]</label>
        <textarea name="Text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>

    <button id="gonder" type="submit" class="btn btn-primary">@localizer["Submit"]</button>

</form>

<script>
    /// validation yapilacak
</script>